@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Quintessential&display=swap');

:root {
    --bg1: #151515;
    --bg2: #222222;
    --bg3: #393939;
    --tx1: #ffffff;
    --tx2: #e9e9e9;
    --mc: #00bcd4;
    --sc: #e8b923;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg1);
    color: var(--tx2);
}

header {
    color: var(--sc);
    font-weight: 900;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    transition: all 1.5s ease-out;
}

.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.99),
            /* Darker at top */
            rgba(0, 0, 0, 0.4)
            /* Fully transparent below */
        );
    z-index: 10;
    pointer-events: none;
    transition: background 0.5s ease;
}


/* Initial Navbar with Full-Width Shadow */
#main-nav {
    display: flex;
    justify-content: center;
    padding: 1em 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05) 90%);
    transition: background 0.5s cubic-bezier(0.4, 0.0, 0.2, 1),
        box-shadow 0.5s cubic-bezier(0.4, 0.0, 0.2, 1),
        padding 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
    transform: translateX(-7.5%);
}

#main-nav a {
    color: var(--tx1);
    padding: 0.8em 1.5em;
    text-decoration: none;
    border-radius: 7px;
    transition: background-color 0.3s;
}

#main-nav a:hover {
    background-color: var(--bg3);
}

#main-nav.sticky {
    background: var(--bg2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Minimal shadow for sticky state */
    padding: 0.5em 0;
}



section {
    padding: 4em 2em;
    text-align: center;
    margin-top: 80px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 1em;
}

.card {
    background-color: var(--bg2);
    border: 1px solid var(--bg3);
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color: var(--bg2);
    color: var(--tx1);
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

.shadow {
    position: sticky;
    top: 0;
    color: white;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    border-radius: 10px;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.3s ease, transform 1.5s ease-out;
}

.shadow h1 {
    font-size: 45px;
}

.shadow.hidden {
    display: none;
}


#intro h2,
p {
    font-family: "jura", serif;
}

#heading {
    font-size: 40px;
}

.typewriter {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    border-right: 2px solid white;
}

.logo-img {
    filter: brightness(0) invert(1);
    height: 25px;
    width: 200px;
    transform: translateX(-150%);
}

.shadow-img {
    filter: brightness(0) invert(1);
    height: 25px;
    width: 200px;
    transform: scale(1.5);
    padding: 1px;
    padding-left: 35px;
}